*{margin: 0;padding: 0;}
/**
 酒店页面样式
 */
#hotel_tab{
    border: 1px solid #666;
    border-collapse: collapse;
    width: 100%;
}
#hotel_tab caption{
    font-size: 2rem;
    font-family: "黑体";
    font-weight: bold;
}
#hotel_tab th{
    background-color:  #ada5a5;
    height: 2rem;
    line-height: 2rem;
}
#hotel_tab th,#hotel_tab td{
    border: 1px solid #a3bbe1;
    text-align: center;
}
#hotel_tab tr:hover{
    background-color: lightblue;
}

.hd_title{
    text-align: center;
}

.hd_head .hd_head_hl{
    background: #ff8f88;
    border-radius: 5px;
    padding: 5px 5px;
    margin-right: 5px;
}

.odd{
    background-color: beige;
}
.even{
    background-color: #f7f2f2;
}

/*
* footer 部分
*/
#foot-section{
    border: 1px solid;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0.5rem;
    height: 5rem;
    line-height: 5rem;
    background: #5f5757;
    font-size: 1.5rem;
    color: #fff;
}